// src/styles/token/utilities.scss
@use 'sass:math';

// utilities
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

// display: none;
.none {
  display: none;
}

//display: block;
.block {
  display: block;
}

// custom scroll-bar
@mixin custom-scroll-bar() {
  &::-webkit-scrollbar {
    border-radius: 10px;
    height: 10px;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #868e96;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }
}

// no scroll bar
@mixin no-scroll-bar() {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-track {
    height: 0;
    width: 0;
  }
}

.custom-scrollbar {
  @include custom-scroll-bar();
}
.no-scrollbar {
  @include no-scroll-bar();
}

// text ellipsis
@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.text-ellipsis {
  &__one {
    @include ellipsis;
    line-clamp: 1;
    -webkit-line-clamp: 1;
  }

  &__two {
    @include ellipsis;
    line-clamp: 2;
    -webkit-line-clamp: 2;
  }

  &__three {
    @include ellipsis;
    line-clamp: 3;
    -webkit-line-clamp: 3;
  }
}

// font-size
$max: 36;
$offset: 1;
$unit: 'rem';

@mixin list-loop($className, $styleName) {
  $i: 8;

  @while $i <= $max {
    #{#{$className}#{$i}} {
      #{$styleName}: math.div($i, 10) + $unit;
    }

    $i: $i + $offset;
  }
}

@include list-loop('.fs-', 'font-size');

// padding
$max: 40;
$offset: 2;
$unit: 'px';

@mixin list-loop($className, $styleName) {
  $i: 0;

  @while $i <=$max {
    #{$className + $i} {
      #{$styleName}: #{$i + $unit};
    }

    $i: $i + $offset;
  }
}

@include list-loop('.p-', 'padding');

//pading-left
$max: 100;
$offset: 5;
$unit: 'px';

@mixin list-loop($className, $styleName) {
  $i: 0;

  @while $i <=$max {
    #{$className + $i} {
      #{$styleName}: #{$i + $unit};
    }

    $i: $i + $offset;
  }
}

@include list-loop('.p-l-', 'padding-left');

//padding-right
$max: 100;
$offset: 5;
$unit: 'px';

@mixin list-loop($className, $styleName) {
  $i: 0;

  @while $i <=$max {
    #{$className + $i} {
      #{$styleName}: #{$i + $unit};
    }

    $i: $i + $offset;
  }
}

@include list-loop('.p-r-', 'padding-right');

//padding-top
$max: 100;
$offset: 5;
$unit: 'px';

@mixin list-loop($className, $styleName) {
  $i: 0;

  @while $i <=$max {
    #{$className + $i} {
      #{$styleName}: #{$i + $unit};
    }

    $i: $i + $offset;
  }
}

@include list-loop('.p-t-', 'padding-top');

//padding-bottom
$max: 100;
$offset: 5;
$unit: 'px';

@mixin list-loop($className, $styleName) {
  $i: 0;

  @while $i <=$max {
    #{$className + $i} {
      #{$styleName}: #{$i + $unit};
    }

    $i: $i + $offset;
  }
}

@include list-loop('.p-b-', 'padding-bottom');

//margin
$max: 40;
$offset: 2;
$unit: 'px';

@mixin list-loop($className, $styleName) {
  $i: 0;

  @while $i <=$max {
    #{$className + $i} {
      #{$styleName}: #{$i + $unit};
    }

    $i: $i + $offset;
  }
}

@include list-loop('.m-', 'margin');

//margin left
$max: 100;
$offset: 5;
$unit: 'px';

@mixin list-loop($className, $styleName) {
  $i: 0;

  @while $i <=$max {
    #{$className + $i} {
      #{$styleName}: #{$i + $unit};
    }

    $i: $i + $offset;
  }
}

@include list-loop('.m-l-', 'margin-left');

// margin right
$max: 100;
$offset: 5;
$unit: 'px';

@mixin list-loop($className, $styleName) {
  $i: 0;

  @while $i <=$max {
    #{$className + $i} {
      #{$styleName}: #{$i + $unit};
    }

    $i: $i + $offset;
  }
}

@include list-loop('.m-r-', 'margin-right');

//margin top
$max: 100;
$offset: 5;
$unit: 'px';

@mixin list-loop($className, $styleName) {
  $i: 0;

  @while $i <=$max {
    #{$className + $i} {
      #{$styleName}: #{$i + $unit};
    }

    $i: $i + $offset;
  }
}

@include list-loop('.m-t-', 'margin-top');

//margin bottom
$max: 100;
$offset: 5;
$unit: 'px';

@mixin list-loop($className, $styleName) {
  $i: 0;

  @while $i <=$max {
    #{$className + $i} {
      #{$styleName}: #{$i + $unit};
    }

    $i: $i + $offset;
  }
}

@include list-loop('.m-b-', 'margin-bottom');
