@use 'sass:math';

// カラーパレットをマップとして定義
$colors: (
  'cool-gray': (
    #fafafa,
    #f4f4f6,
    #f1f3f8,
    #dae0ef,
    #9aa3b8,
    #7a8499,
    #37303f,
    #241f2a,
    #1f1a25,
    #17151d
  ),
  'gray': (
    #f8f9fa,
    #f1f3f5,
    #e9ecef,
    #dee2e6,
    #ced4da,
    #adb5bd,
    #868e96,
    #495057,
    #343a40,
    #212529
  ),
  'pink': (
    #fff0f6,
    #ffdeeb,
    #fcc2d7,
    #faa2c1,
    #f783ac,
    #f06595,
    #e64980,
    #d6336c,
    #c2255c,
    #a61e4d
  ),
  'red': (
    #fff5f5,
    #ffe3e3,
    #ffc9c9,
    #ffa8a8,
    #ff8787,
    #ff6b6b,
    #fa5252,
    #f03e3e,
    #e03131,
    #c92a2a
  ),
  'indigo': (
    #edf2ff,
    #dbe4ff,
    #bac8ff,
    #91a7ff,
    #748ffc,
    #5c7cfa,
    #4c6ef5,
    #4263eb,
    #3b5bdb,
    #364fc7
  ),
  'cyan': (
    #e6fcf5,
    #c5f6fa,
    #99e9f2,
    #66d9e8,
    #3bc9db,
    #22b8cf,
    #15aabf,
    #1098ad,
    #0c8599,
    #0b7285
  ),
  'blue': (
    #e7f5ff,
    #d0ebff,
    #a5d8ff,
    #74c0fc,
    #4dabf7,
    #339af0,
    #228be6,
    #1c7ed6,
    #1971c2,
    #1864ab
  ),
  'green': (
    #ebfbee,
    #d3f9d8,
    #b2f2bb,
    #8ce99a,
    #69db7c,
    #51cf66,
    #40c057,
    #37b24d,
    #2f9e44,
    #2b8a3e
  ),
  'teal': (
    #e6fcf5,
    #c3fae8,
    #96f2d7,
    #63e6be,
    #38d9a9,
    #20c997,
    #12b886,
    #0ca678,
    #099268,
    #087f5b
  ),
  'lime': (
    #f4fce3,
    #e9fac8,
    #d8f5a2,
    #c0eb75,
    #a9e34b,
    #94d82d,
    #82c91e,
    #74b816,
    #66a80f,
    #5c940d
  ),
  'orange': (
    #fff4e6,
    #ffe8cc,
    #ffd8a8,
    #ffc078,
    #ffa94d,
    #ff922b,
    #fd7e14,
    #f76707,
    #e8590c,
    #d9480f
  ),
  'yellow': (
    #fff9db,
    #fff3bf,
    #ffec99,
    #ffe066,
    #ffd43b,
    #fcc419,
    #fab005,
    #f59f00,
    #f08c00,
    #e67700
  ),
  'lemon': (
    #ffffe8,
    #fcfcc3,
    #ffff9e,
    #fcfb74,
    #f8f753,
    #f5f230,
    #ffe833,
    #ffd028,
    #ffb81b,
    #ff8e00
  ),
  'purple': (
    #f8f0fc,
    #f3d9fa,
    #eebefa,
    #e599f7,
    #da77f2,
    #cc5de8,
    #be4bdb,
    #ae3ec9,
    #9c36b5,
    #862e9c
  )
);

//basic color
$white: #ffffff;
$black: #000000;
:root {
  --white: #ffffff;
  --black: #000000;
}

// カスタムカラー
$primary: #20c997;
$secondary: #f59f00;
$color-success: #28a745;
$color-danger: #dc3545;
$color-warning: #ffc107;
$color-info: #17a2b8;
:root {
  --primary: #20c997;
  --secondary: #f59f00;
  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #17a2b8;
}

// シェード値をインデックスに変換
@function shade-index($shade) {
  @if $shade == 50 {
    @return 1;
  } @else {
    @return math.div($shade, 100) + 1;
  }
}

// カラー値を取得するための関数
@function color($color-name, $shade) {
  $color-map: map-get($colors, $color-name);
  $index: shade-index($shade);
  @return nth($color-map, $index);
}

$color-surface-indigo50: color('indigo', 50);
$color-surface-indigo100: color('indigo', 100);

.color-surface-indigo50 {
  background-color: $color-surface-indigo50;
}
.color-surface-indigo100 {
  background-color: $color-surface-indigo100;
}

// CSSカスタムプロパティとして色を出力
:root {
  @each $color-name, $color-values in $colors {
    $shades: (50, 100, 200, 300, 400, 500, 600, 700, 800, 900);
    @each $shade in $shades {
      $color-variable-name: '--' + $color-name + $shade;
      $color-value: color($color-name, $shade);
      #{$color-variable-name}: #{$color-value};
    }
  }
}
