@use "sass:math";

// カラーパレットをマップとして定義
$colors: (
  "cool-gray": (#FAFAFA, #F4F4F6, #F1F3F8, #DAE0EF, #9AA3B8, #7A8499, #37303F, #241F2A, #1F1A25, #17151D),
  "gray": (#F8F9FA, #F1F3F5, #E9ECEF, #DEE2E6, #CED4DA, #ADB5BD, #868E96, #495057, #343A40, #212529),
  "pink": (#FFF0F6, #FFDEEB, #FCC2D7, #FAA2C1, #F783AC, #F06595, #E64980, #D6336C, #C2255C, #A61E4D),
  "red": (#FFF5F5, #FFE3E3, #FFC9C9, #FFA8A8, #FF8787, #FF6B6B, #FA5252, #F03E3E, #E03131, #C92A2A),
  "indigo": (#EDF2FF, #DBE4FF, #BAC8FF, #91A7FF, #748FFC, #5C7CFA, #4C6EF5, #4263EB, #3B5BDB, #364FC7),
  "cyan": (#E6FCF5, #C5F6FA, #99E9F2, #66D9E8, #3BC9DB, #22B8CF, #15AABF, #1098AD, #0C8599, #0B7285),
  "blue": (#E7F5FF, #D0EBFF, #A5D8FF, #74C0FC, #4DABF7, #339AF0, #228BE6, #1C7ED6, #1971C2, #1864AB),
  "green": (#EBFBEE, #D3F9D8, #B2F2BB, #8CE99A, #69DB7C, #51CF66, #40C057, #37B24D, #2F9E44, #2B8A3E),
  "teal": (#E6FCF5, #C3FAE8, #96F2D7, #63E6BE, #38D9A9, #20C997, #12B886, #0CA678, #099268, #087F5B),
  "lime": (#F4FCE3, #E9FAC8, #D8F5A2, #C0EB75, #A9E34B, #94D82D, #82C91E, #74B816, #66A80F, #5C940D),
  "orange": (#FFF4E6, #FFE8CC, #FFD8A8, #FFC078, #FFA94D, #FF922B, #FD7E14, #F76707, #E8590C, #D9480F),
  "yellow": (#FFF9DB, #FFF3BF, #FFEC99, #FFE066, #FFD43B, #FCC419, #FAB005, #F59F00, #F08C00, #E67700),
  "lemon": (#FFFFE8, #FCFCC3, #FFFF9E, #FCFB74, #F8F753, #F5F230, #FFE833, #FFD028, #FFB81B, #FF8E00),
  "purple": (#F8F0FC, #F3D9FA, #EEBEFA, #E599F7, #DA77F2, #CC5DE8, #BE4BDB, #AE3EC9, #9C36B5, #862E9C)
);

// シェード値をインデックスに変換
@function shade-index($shade) {
  @if $shade == 50 {
    @return 1;
  } @else {
    @return math.div($shade, 100) + 1;
  }
}

// カラー値を取得するための関数
@function color($color-name, $shade) {
  $color-map: map-get($colors, $color-name);
  $index: shade-index($shade);
  @return nth($color-map, $index);
}

// 用途別カラー変数
/*
$color-text-cool-gray: color("cool-gray", 900);
$color-border-gray: color("gray", 500);
$color-background-pink: color("pink", 100);
$color-surface-indigo: color("indigo", 50);
*/
$color-surface-indigo-50: color("indigo", 50);
$color-surface-indigo-100: color("indigo", 100);

// 例：特定の色を用途別に取得
/*
.example {
  color: $color-text-cool-gray; // Cool-Gray 用テキスト色
  border-color: $color-border-gray; // Gray 用ボーダー色
  background-color: $color-background-pink; // Pink 用背景色
  surface-color: $color-surface-indigo; // Indigo 用サーフェス色
}
*/
.color-surface-indigo-50 {
  background-color: $color-surface-indigo-50;
}
.color-surface-indigo-100 {
  background-color: $color-surface-indigo-100;
}
